/* Navigation */
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.7em;
  background-color: var(--bg-dark);
  background: var(--bg-dark);
  z-index: 2;
  margin: 0 0 1em 0;
  border-radius: 5;
}

nav a {
  text-decoration: none;
}

nav a[aria-current="true"] {
  border-bottom: 2px solid var(--link-hover);
  border-bottom-color: var(--link-hover) !important;
}

navbar-h1 {
  font-size: 2rem;
  background-color: var(--bg-1);
  align-items: center;
  justify-content: center;
}
