/* CSS Variables */
:root {
  --bg-1: #f6f3e1;
  --text-1: #b4ebcb;
  --bg-2: hsl(224, 100%, 11%);
  --bg-3: hsl(206, 20%, 80%);
  --fg-1: hsl(0, 0%, 0%);
  --fg-2: hsl(0, 0%, 20%);
  --fg-3: hsl(0, 0%, 30%);
  --link: #b4ebcb;
  --link-hover: #cd7f32;
  --link-active: #b4ebcb;
  --line: #41413B;
  --border-radius: 4px;
  --font: 'BerkeleyMono', Garamond, serif;
  --font-extre: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  
  /* Color values */
  --bronze-gradient: linear-gradient(
    to right,
    #b87333 0%,
    #cd7f32 20%,
    #e6a85c 40%,
    #cd7f32 60%,
    #b87333 80%,
    #966919 100%
  );
  --bg-dark: #1e1e1e;
}

body.dark {
  --bg-1: hsl(0, 0%, 18%);
  --bg-2: hsl(0, 0%, 30%);
  --bg-3: hsl(0, 0%, 40%);
  --fg-1: hsl(0, 0%, 90%);
  --fg-2: hsl(0, 0%, 70%);
  --fg-3: hsl(0, 0%, 60%);
  --link: hsl(206, 96%, 72%);
  --link-hover: hsl(206, 96%, 78%);
  --link-active: hsl(206, 96%, 64%);
}
